* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  color: #FFF2DA;
}

i {
  font-size: 2em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.humid {
  font-size: 1em;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
}

.temp {
  font-size: 3.5em;
}

.weather-app {
  background-color: #e6af4b;
  border-radius: 15px;
  width: 250px;
}

.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.wind {
  font-size: 0.8em;
}













.deb {
  border: 1px #00FF00 solid;
}
